<footer class="page__footer">
    <div class="wrapper">
        {% if site.author %}
        {% include author-profile.html %}
        {% endif %}

        {% if site.footer.links %}
        <ul class="social-icons">
            {% for link in site.footer.links %}
            <li>
                <a href="{{ link.url | default: '#' }}">
                    <i class="{{ link.icon }}"></i>
                    {{ link.label }}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        <p class="page__footer-copyright">
            &copy; {{ site.footer.since }}–{{ site.time | date: "%Y" }} {{ site.name }}.
        </p>
    </div>
</footer>