<footer class="page__footer">
    <div class="sidebar sticky sidebar--gallery">
        <ul class="horizontal-footer-list">
            {% for art in site.data.artwork %}
            <li>
                <a href="{{ art.url | relative_url }}">
                    <img src="{{ art.thumbnail | relative_url }}" alt="{{ art.title }}" class="sidebar-thumb">
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <br>
    <div class="page__footer-inner">
        <ul class="horizontal-footer-list">
            {% if site.author.email %}
            <li>
                <i class="fas fa-fw fa-envelope"></i>
                <a href="mailto:{{ site.author.email }}">Email</a>
            </li>
            {% endif %}

            {% if site.author.links %}
            {% for link in site.author.links %}
            <li>
                <i class="{{ link.icon }}"></i>
                <a href="{{ link.url }}" target="_blank" rel="noopener">{{ link.label }}</a>
            </li>
            {% endfor %}
            {% endif %}

        </ul>

    </div>

</footer>